
/*--------------------------------------------------------------
 Footer
--------------------------------------------------------------*/

.site-footer {
    padding: 2em;
    background: #ecf0f1;
}

.site-footer a {

}

.site-info { 
    text-align: center; 
}