/* style input buttons as Bootstrap as btn and btn-primary */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}
/* style inputs as Bootstrap form-controls. */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
  @extend .form-control;
}
input[type="file"]{
  line-height: 0px;
}
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
table {
  @extend .table;
}


